.school {
  &__content {
    background: #ed7103;
    overflow: hidden;

    &__title {
      font: 68px $fontBlackItalic;
      text-align: center;
      margin: {
        top: 80px;
        bottom: 80px;
      };
      line-height: 1;
    }

    &__text {
      column-count: 2;
      column-gap: 80px;

      p {
        &:nth-of-type(odd){
          font: 23px $fontBoldItalic;
          margin-bottom: 45px;
        }

        &:nth-of-type(even){
          font: 18px $font;
          margin-bottom: 75px;
        }
      }
    }
  }

  &__info {
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000;

    p {
      font: 30px $fontBoldItalic;
      color: #ed7103;

      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }

  &__buttons {
    min-height: 157px;
    display: flex;
    justify-content: center;
    align-items: center;

    > *, a {
      color: #000;
      font: 23px $fontBoldItalic;
      display: block;
      height: 80px;
      text-decoration: none;
      padding: 0 40px;
      background: #ed7103;
      line-height: 80px;
    }
  }
}